[submodule "kEn/vendor/spdlog"]
	path = kEn/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "kEn/vendor/GLFW"]
	path = kEn/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "kEn/vendor/imgui"]
	path = kEn/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "kEn/vendor/glm"]
	path = kEn/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "kEn/vendor/ImGuizmo"]
	path = kEn/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "kEn/vendor/assimp"]
	path = kEn/vendor/assimp
	url = https://github.com/assimp/assimp
